html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Restablece-Contrasena

    table(width='600' border='0' cellspacing='0' cellpadding='0')
tbody
    tr
      td(width='600' height='217' align='left' valign='top')
        img(src='https://zaptalent.azurewebsites.net/public/imaemail/t1WsrStmh.png' width='600' height='217' alt='')
    tr
      td(width='600' height='511' align='left' valign='top')
        table(width='600' border='0' cellspacing='0' cellpadding='0')
          tbody
            tr
              td(width='40' align='left' valign='top')
                img(src='https://zaptalent.azurewebsites.net/public/imaemail/ZmpzNH--M.png' width='40' height='511' alt='')
              td(width='548' align='left' valign='top')
                table(width='520' border='0' cellspacing='0' cellpadding='0')
                  tbody
                    tr
                      td(width='520' height='103' align='center' valign='top')
                        img(src='https://zaptalent.azurewebsites.net/public/imaemail/YLF-yNxU_.png', width='520' height='103' alt='')
                    tr
                      td(width='520' height='214' align='center' valign='top')
                        table(width='520' border='0' cellspacing='0' cellpadding='0')
                          tbody
                            tr
                              td(width='260' height='215' align='left' valign='top')
                                table(width='260' border='0' cellspacing='0' cellpadding='0')
                                  tbody
                                    tr
                                      td(width='70' height='54' align='center' valign='middle')
                                        img(src='https://zaptalent.azurewebsites.net/public/imaemail/JQLRfJw9O.png' width='46' height='44' alt='')
                                      td(width='190' height='54')
                                        table(width='160' border='0' cellspacing='0' cellpadding='0')
                                          tbody
                                            tr
                                              td Razon social
                                            tr
                                              td #{razon} 
                                    tr
                                      td(height='54' align='center' valign='middle')
                                        img(src='https://zaptalent.azurewebsites.net/public/imaemail/JQLRfJw9O.png' width='46' height='44' alt='')
                                      td(height='54')
                                        table(width='160' border='0' cellspacing='0' cellpadding='0')
                                          tbody
                                            tr
                                              td RUT
                                            tr
                                              td #{rut}
                                    tr
                                      td(height='54' align='center' valign='middle')
                                        img(src='https://zaptalent.azurewebsites.net/public/imaemail/xzieDwDNq.png' width='46' height='44' alt='')
                                      td(height='54')
                                        table(width='160' border='0' cellspacing='0' cellpadding='0')
                                          tbody
                                            tr
                                              td Email
                                            tr
                                              td #{emailen}
                                    tr
                                      td(height='54' align='center' valign='middle')
                                        img(src='https://zaptalent.azurewebsites.net/public/imaemail/zm4bDMgsz.png' width='46' height='44' alt='')
                                      td(height='54')
                                        table(width='160' border='0' cellspacing='0' cellpadding='0')
                                          tbody
                                            tr
                                              td N&uacute;mero M&oacute;vil
                                            tr
                                              td #{telefono}
                              td(width='260' align='left' valign='top')
                                table(width='260' border='0' cellspacing='0' cellpadding='0')
                                  tbody
                                    tr
                                      td(height='54' align='center' valign='middle')
                                        img(src='https://zaptalent.azurewebsites.net/public/imaemail/JQLRfJw9O.png' width='46' height='44' alt='')
                                      td(height='54')
                                        table(width='160' border='0' cellspacing='0' cellpadding='0')
                                          tbody
                                            tr
                                              td Giro
                                            tr
                                              td #{giro}
                                    tr
                                      td(height='54' align='center' valign='middle')
                                        img(src='https://zaptalent.azurewebsites.net/public/imaemail/JQLRfJw9O.png' width='46' height='44' alt='')
                                      td(height='54')
                                        table(width='160' border='0' cellspacing='0' cellpadding='0')
                                          tbody
                                            tr
                                              td Reseña Empresa
                                            tr
                                              td #{resena}
                                    tr
                                      td(height='54' align='center' valign='middle')
                                        img(src='https://zaptalent.azurewebsites.net/public/imaemail/ZnRm3ukwb.png' width='46' height='44' alt='')
                                      td(height='54')
                                        table(width='160' border='0' cellspacing='0' cellpadding='0')
                                          tbody
                                            tr
                                              td Direcci&oacute;n
                                            tr
                                              td #{direcciones}
                                              td #{comuna}, #{region}
                    tr
                      td(width='520' height='30' align='center' valign='top')
                        img(src='https://zaptalent.azurewebsites.net/public/imaemail/_bNgM8ecI.png' width='520' height='30' alt='')
                    tr
                      td(width='520' height='131' align='center' valign='top')
                        table(width='520' border='0' cellspacing='0' cellpadding='0')
                          tbody
                            tr
                              td(width='172' height='126' align='center' valign='middle')
                                table(width='134' border='0' cellspacing='0' cellpadding='0')
                                  tbody
                                    tr
                                      td(align='center' valign='middle') Si quieres ingresar a tu cuenta
                                    tr
                                      a(href='https://zaptalent.cl/login-empresas')
                                        img(src='https://zaptalent.azurewebsites.net/public/imaemail/5CUerE2fE.png' style=' margin-left: 17%;')
                              td(width='172' align='center' valign='middle')
                                table(width='134' border='0' cellspacing='0' cellpadding='0')
                                  tbody
                                    tr
                                      td(align='center' valign='middle') Si quieres cambiar tu contrase&ntilde;a
                                    tr
                                       a(href=`${resetUrl}`)
                                        img(src='https://zaptalent.azurewebsites.net/public/imaemail/Jq58Kt0lO.png' style=' margin-left: 15%;')
                              td(width='172' align='center' valign='middle')
                                table(width='145' border='0' cellspacing='0' cellpadding='0')
                                  tbody
                                    tr
                                      td(width='145' align='center' valign='middle') Ir al Home
                                    tr
                                      a(href='https://zaptalent.cl/inicio')
                                        img(src='https://zaptalent.azurewebsites.net/public/imaemail/2TEYlFbKn.png' style='margin-top: 14%; margin-left: 15%;')
              td(width='40' align='left' valign='top')
                img(src='https://zaptalent.azurewebsites.net/public/imaemail/g4KpmdRCn.png' width='40' height='511' alt='')
    tr
      td(width='600' height='118' align='left' valign='top')
        img(src='https://zaptalent.azurewebsites.net/public/imaemail/y75_poRQS.png' width='600' height='118' alt='')
